

 
    <div class="col-md-20 col-md-offset-2">
    <h2>Grafica Promedio calculado vs delitos registrados </h2>

 </div> <br><br><br><br><br>
  <div class="col-md-20 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">Arrastrar con el mouse ambos lados  para ver mas detalle en las fechas en la grafica  </div>
 </div>
<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="curve_chart"></div>
</div>
</div>
    <script type="text/javascript">
     google.load("visualization", "1", {
    packages: ['controls', 'corechart'],
    callback: drawDashboard
});


function drawDashboard() {
    
    var data= <%=raw @items%>


     data [0][0]={label:'date',type:'datetime'};
     data[0][1]={label:'Promedio calculado ',type:'number'}
     data[0][2]={label:'Delitos registrados',type:'number'}

for(var i = 1; i < data.length; i++) {

    var cube = data[i];
    for(var j = 0; j < cube.length; j++) {
        
        data[i][0]= new Date(data[i][0]);
        
    }

}
var dataSet  = google.visualization.arrayToDataTable(data);
    var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));

    var dateRangeFilter = new google.visualization.ControlWrapper({'controlType':'ChartRangeFilter','containerId':'filter_div','options': {'filterColumnLabel':'date'}});

    var lineChart = new google.visualization.ChartWrapper({'chartType':'LineChart','containerId':'curve_chart','options':{'title': 'Promedio calculado vs delitos registrados ','curveType': 'function'}});

    dashboard.bind(dateRangeFilter,lineChart);

    dashboard.draw(dataSet);
}
  </script>
</head>
<body>

</body>
