

<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="curve_chart" style="width:900px;height:500px"></div>
</div>
    <script type="text/javascript">
     google.load("visualization", "1", {
    packages: ['controls', 'corechart'],
    callback: drawDashboard
});


function drawDashboard() {
    
    var data= <%=raw @items%>


     data [0][0]={label:'date',type:'datetime'};
     data[0][1]={label:'Proba',type:'number'};
     data[0][2]={label:'Delitos',type:'number'};

for(var i = 1; i < data.length; i++) {

    var cube = data[i];
    for(var j = 0; j < cube.length; j++) {
        
        data[i][0]= new Date(data[i][0]);
        
    }

}
var dataSet  = google.visualization.arrayToDataTable(data);
    var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));

    var dateRangeFilter = new google.visualization.ControlWrapper({'controlType':'ChartRangeFilter','containerId':'filter_div','options': {'filterColumnLabel':'date'}});

    var lineChart = new google.visualization.ChartWrapper({'chartType':'LineChart','containerId':'curve_chart','options':{'title': 'Probabilidad vs delistos ','curveType': 'function','legend': {'postition':'bottom'}}});

    dashboard.bind(dateRangeFilter,lineChart);

    dashboard.draw(dataSet);
}
  </script>
</head>
<body>

</body>
