<div class="center">
  <h1>Registrar Denuncia</h1>
</div><br>

<%= render 'form' %>

<script>
    $(document).ready(function(){
        gmap_form(null);
    });
</script>

<!--<%= link_to 'Back', complains_path %>-->
